<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ServiceOrdersEntities" connectionString="metadata=res://*/ServiceOrdersDBContext.csdl|res://*/ServiceOrdersDBContext.ssdl|res://*/ServiceOrdersDBContext.msl;provider=System.Data.SqlClient;provider connection string='data source=BOLLOTEAMDEV;initial catalog=ServiceOrders;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>